* {
    box-sizing: border-box;
  }
  
body {
    background-color: #f1f1f1;
}
  
.formulario{
  
    background-color: #ffffff;
    margin: 5em auto;
    font-family: Raleway;
    padding: 40px;
    width: 80%;
    min-width: 300px;
}
  
h2{
  display: flex;
  justify-content: center;
  margin-top: 1em;
}
  
header{
   z-index:9;
   position: sticky;
   top: 0;
}
  
.footer {
    padding: 2em 1em;
    color: white;
    background-color: #343a40;
    min-height: 2rem;
    max-height: 5rem;
    display: grid;
    justify-content: center;
    position: fixed;
    bottom: 0px;
    width: 100%;
}